body {
  font-family: "calibri";
}

p {
  font-size: 18px;
}

#start {
  font-size: 1.2rem;
  border-radius: 15px;
}

#stop {
  font-size: 1.2rem;
  border-radius: 15px;
}

#download {
  font-size: 18px;
  color: green;
}
