body {
  font-family: "calibri";
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  height: 100vh; /* Body is the height of the viewport */
  overflow: hidden; /* Hide anything that goes off the window size */
  background-color: #f5f5f5;
}

#main-content {
  border-style: solid;
  border-radius: 20px;
  padding: 20px;
  background-color: #ffffff;
}

#player {
  /* padding-left: 65px; */
}

h1 {
  font-size: 36px;
  font-family: monospace;
  text-align: center;
}

h2 {
  font-size: 18px;
}

.slider-title {
  margin-bottom: 0px;
}

.button-container {
  text-align: center;
}

#start {
  font-size: 1.2rem;
  border-radius: 15px;
  cursor: pointer;
  padding: 5px 50px;
  border: none;
  transition-duration: 0.4s;
}

#start:hover {
  background-color: #8B0000;
  color: #ffffff;
}

#stop {
  font-size: 1.2rem;
  border-radius: 15px;
  cursor: pointer;
  padding: 5px 50px;
  border: none;
  transition-duration: 0.4s;
}

#stop:hover {
  background-color: #8B0000;
  color: #ffffff;
}

#see-visualizer {
  font-size: 1.2rem;
  border-radius: 15px;
  padding: 5px 50px;
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
}

#see-visualizer:hover {
  background-color: #007500;
  color: #ffffff;
}

#done-edit {
  font-size: 1.2rem;
  border-radius: 15px;
  padding: 5px 50px;
  cursor: pointer;
  border: none;
  transition-duration: 0.4s;
}

#done-edit:hover {
  background-color: #007500;
  color: #ffffff;
}

#download-raw {
  font-size: 18px;
  color: green;
  border: none;
  padding-left: 50px;
  text-decoration: none;
}

#download-raw:hover {
  text-decoration: underline;
}

#download-edit {
  font-size: 18px;
  color: red;
  padding-left: 110px;
}

#record-rectangle {
  width: 100%;
  height: 20px;
  display: inline-block;
  background-color: #8B0000;
  border-radius: 20px;
}


/* VISUALIZER */
#canvas {
  height: 300px;
  width: 500px;
}


/* DIALOG BOX */

.ui-widget.ui-widget-content {
  border: none !important;
  border-radius: 15px;
}


.ui-widget-header {
  font-family: "calibri";
  background: #f5f5f5 !important;
  color: #000000 !important;
  margin: 15px !important;
}

.ui-widget-content {
  background: #000000 !important;
}
